// Variables
$principal: #0e3b7b;
$navegador-enfocado: #334e76;
$marg-izq: #191919;
$separador: rgba(0, 0, 0, 0.2);
$fondo-btn: #454545;
$fondo-carta: #334e76;
$impar-tabla: #f3f3f3;
$formato-sombra: 0 0 20px rgba(0, 0, 0, 0.25);

// Font
$letra-nav: white;
$letra-carta: white;
$letra-nav-enfocado: #b8c3ad;
$letra-texto: black;
$letra-sombra: rgba(0, 0, 0, 0.25);
