// Variables
$principal: #4a4e46;
$navegador-enfocado: #3f433c;
$marg-izq: #191919;
$separador: rgba(0, 0, 0, .2);
$fondo-btn: #454545;

// Font
$letra-nav: white;
$letra-nav-enfocado: #b8c3ad;
$letra-texto: black;
$letra-sombra: rgba(0, 0, 0, 0.25);
