@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}

header .inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

header .inicio .logo img {
  width: 6rem;
  border-radius: 10px;
}

header .inicio h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
}

header .menu-bar {
  background: #0e3b7b;
}

header .menu-bar nav .nav-links {
  display: none;
  list-style: none;
  margin: auto;
}

header .menu-bar nav .nav-links a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

header .menu-bar nav .nav-links li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  padding: 1rem;
}

header .menu-bar nav .nav-links li:hover {
  background: #334e76;
}

header .menu-bar nav .nav-links li .sub-menu li {
  opacity: 1;
}

header .menu-bar nav .nav-links li .sub-menu ul {
  display: none;
  width: 100%;
}

header .menu-bar nav .nav-links li .sub-menu ul li {
  list-style: none;
  margin-left: 2rem;
  border-left: 2px solid #191919;
  width: 100%;
  padding: 1rem;
}

header .menu-bar nav .nav-links li .sub-menu ul li a {
  display: block;
}

header .menu-bar nav .nav-links li .sub-menu ul li:hover {
  background: #0e3b7b;
}

header .menu-bar nav .nav-links .efecto .nav-hijo .sub-menu ul {
  display: block;
}

header .menu-bar nav .nav-links .activado .sub-menu ul {
  display: block;
  margin-top: 2rem;
  margin-left: -2rem;
}

header .menu-bar nav .nav-links.nav-active {
  display: block;
}

/* MAIN */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .img-portada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .img-portada .imagen-principal {
  position: fixed;
  border-radius: 5px;
  margin-top: 2rem;
  min-width: 100px;
  width: 300px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

main .seccion {
  padding: 0 1rem;
  width: 100%;
  max-width: 950px;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  /* Tabla Gaceta */
}

main .seccion hr {
  width: 100%;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
}

main .seccion h2 {
  color: #0e3b7b;
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

main .seccion h3 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

main .seccion h3 hr {
  width: 50px;
  border-top: 3px solid #0e3b7b;
  margin-top: 0;
  margin-bottom: 1rem;
}

main .seccion p {
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: 1rem;
}

main .seccion p span {
  font-weight: 700;
}

main .seccion .logo-pagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .seccion .logo-pagina img {
  width: 8rem;
}

main .seccion .lista {
  margin-left: 0.5rem;
  padding-left: 1rem;
  border-left: 3px solid #0e3b7b;
}

main .seccion .lista p {
  margin-bottom: 1.2rem;
}

main .seccion .fotos-historia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .seccion .fotos-historia img {
  margin: 1rem;
  width: 250px;
}

main .seccion .observacion {
  text-align: end;
}

main .seccion .sesiones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  grid-gap: 1rem;
}

main .seccion .sesiones a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .seccion .sesiones a .sesion {
  background: #0e3b7b;
  width: 280px;
  height: 192px;
  background: #0e3b7b;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 1.3rem;
}

main .seccion .sesiones a .sesion p {
  color: white;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 0.2rem;
}

main .seccion .sesiones a .sesion img {
  width: 280px;
  border-radius: 0 0 10px 10px;
}

main .seccion .sesiones a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .seccion .convenciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  justify-items: center;
  grid-gap: 1rem;
}

main .seccion .convenciones .conve {
  width: 150px;
  height: 300px;
  background: #0e3b7b;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

main .seccion .convenciones .conve img {
  border-radius: 10px 10px 0 0;
  width: 150px;
  height: 230px;
}

main .seccion .convenciones .conve p {
  color: white;
  font-size: 3rem;
  text-align: center;
}

main .seccion .subrayado {
  text-decoration: underline;
  font-weight: normal;
}

main .seccion .portada-gaceta {
  border-radius: 5px;
  width: 250px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .seccion .portada-gaceta:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

main .seccion .tabla-centrada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .seccion .tabla-centrada .content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.2rem;
  min-width: 300px;
  width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

main .seccion .tabla-centrada .content-table thead .tabla-titulo {
  background-color: #0e3b7b;
}

main .seccion .tabla-centrada .content-table thead tr {
  background-color: #334e76;
  color: white;
  text-align: center;
  font-weight: bold;
}

main .seccion .tabla-centrada .content-table th,
main .seccion .tabla-centrada .content-table td {
  padding: 0.6rem 0.6rem;
}

main .seccion .tabla-centrada .content-table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

main .seccion .tabla-centrada .content-table tbody tr th {
  font-weight: 400;
}

main .seccion .tabla-centrada .content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

main .seccion .tabla-centrada .content-table tbody tr:last-of-type {
  border-bottom: 2px solid #0e3b7b;
}

main .seccion .escudo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  grid-gap: 1rem;
}

main .seccion .escudo .tarjetas-escudo {
  border-radius: 10px;
  width: 250px;
  height: 260px;
  background: #0e3b7b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

main .seccion .escudo .tarjetas-escudo p {
  color: white;
  font-size: 3rem;
  text-align: center;
  background: #334e76;
  width: 100%;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: -0.5rem;
  margin-bottom: 0;
}

main .seccion .escudo .tarjetas-escudo .fusion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 0.5fr;
      grid-template-rows: 1fr 0.5fr;
      grid-template-areas: "cerro cerro" "obispado moneda";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
  position: absolute;
  top: 1rem;
}

main .seccion .escudo .tarjetas-escudo .fusion img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 80px;
}

main .seccion .escudo .tarjetas-escudo .fusion .cerro {
  width: 220px;
  height: 90px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cerro;
}

main .seccion .escudo .tarjetas-escudo .fusion .obispado {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: obispado;
}

main .seccion .escudo .tarjetas-escudo .fusion .moneda {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: moneda;
}

main .seccion .escudo .tarjetas-escudo .logo-pagina img {
  width: 9rem;
  border-radius: 10px;
}

main .archivo-pdf {
  width: 100%;
  height: 100vh;
}

main .archivo-pdf iframe {
  width: 100%;
  height: 100vh;
}

main .centrar-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .centrar-contacto .contactos {
  background: #0e3b7b;
  border-radius: 10px;
  color: white;
  padding: 1rem 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

main .centrar-contacto .contactos .contacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr;
      grid-template-columns: 0.2fr 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

main .centrar-contacto .contactos .contacto .icono-contacto {
  margin-left: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .centrar-contacto .contactos .contacto .union-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

main .centrar-contacto .contactos .contacto .union-contacto h4 {
  font-size: 2rem;
}

main .centrar-contacto .contactos .contacto .union-contacto p {
  color: white;
  font-size: 1.5rem;
}

main .centrar-contacto .contactos .contacto .union-contacto a {
  text-decoration: none;
}

.btn-arriba {
  position: fixed;
  background: #454545;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  opacity: 0.8;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
  border-style: none;
}

/* Hamburgesa */
.burger {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 3rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
  z-index: 1500;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem;
  border-radius: 10px;
}

.burger div {
  background-color: #191919;
  border-radius: 10px;
  width: 35px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* TRANSFORMACION de la hamburgesa */
.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
          transform: rotate(-45deg) translate(-6px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -5px);
          transform: rotate(45deg) translate(-6px, -5px);
}

/* ANIMACION */
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes btnFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes btnFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@-webkit-keyframes btnFadeAlReves {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

@keyframes btnFadeAlReves {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

@media screen and (min-width: 840px) {
  header .inicio .logo img {
    width: 7rem;
  }
  header .inicio h1 {
    display: block;
    font-family: 'Benne', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-left: 2rem;
    line-height: 2.2rem;
  }
  header .inicio h1 .sociedad {
    letter-spacing: .5rem;
  }
  header .inicio h1 .numismatica {
    letter-spacing: .5rem;
  }
  header .inicio h1 .monterrey {
    letter-spacing: .2rem;
  }
  header .menu-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  header .menu-bar nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    max-width: 117rem;
  }
  header .menu-bar nav .nav-links li {
    opacity: 1;
    border-bottom: none;
  }
  header .menu-bar nav .nav-links li .sub-menu ul {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 20rem;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
  }
  header .menu-bar nav .nav-links li .sub-menu ul li {
    opacity: 1;
    margin-left: 0;
    border: none;
    border-left-color: none;
    width: 100%;
  }
  header .menu-bar nav .nav-links li .sub-menu ul li:hover {
    background: #0e3b7b;
  }
  header .menu-bar nav .nav-links li:hover .sub-menu ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  header .menu-bar nav .nav-links li:hover .sub-menu ul li:last-child {
    border-radius: 0 0 5px 5px;
  }
  header .menu-bar nav .nav-links li:hover .sub-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #334e76;
    margin-top: 1rem;
    margin-left: -1rem;
    z-index: 100;
  }
  header .menu-bar nav .nav-links .efecto {
    position: relative;
  }
  header .menu-bar nav .nav-links .efecto .nav-hijo .sub-menu ul {
    display: none;
  }
  header .menu-bar nav .nav-links .activado .sub-menu ul {
    display: none;
  }
  header .menu-bar nav .nav-links.nav-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger {
    display: none;
  }
}
/*# sourceMappingURL=estilo.css.map */