@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");

@import "_variables";

// Funciones
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  width: 100%;
  top: 0;
  left: 0;
  position: relative;

  // BANNER
  .inicio {
    @include flexCenter();
    background: white;

    .logo img {
      width: 6rem;
      border-radius: 10px;
    }

    h1 {
      user-select: none;
      display: none;
    }
  }

  // NAV BAR
  .menu-bar {
    background: $principal;

    nav {
      .nav-links {
        display: none;
        list-style: none;
        margin: auto;

        a {
          display: block;
          color: $letra-nav;
          text-decoration: none;
          font-size: 1.1rem;
        }

        li {
          border-bottom: 1px solid $separador;
          opacity: 0;
          padding: 1rem;

          &:hover {
            background: $navegador-enfocado;
          }

          .sub-menu {
            li {
              opacity: 1;
            }

            ul {
              display: none;
              width: 100%;

              li {
                list-style: none;
                margin-left: 2rem;
                border-left: 2px solid $marg-izq;
                width: 100%;
                padding: 1rem;

                a {
                  display: block;
                }

                &:hover {
                  background: $principal;
                }
              }
            }
          }
        }

        .efecto {
          .nav-hijo .sub-menu ul {
            display: block;
          }
        }

        .activado {
          .sub-menu ul {
            display: block;
            margin-top: 2rem;
            margin-left: -2rem;
          }
        }

        &.nav-active {
          display: block;
        }
      }
    }
  }
}

/* MAIN */
main {
  display: flex;
  align-items: center;
  flex-direction: column;

  .img-portada {
    display: flex;
    justify-content: center;

    .imagen-principal {
      position: fixed;
      border-radius: 5px;
      margin-top: 2rem;
      min-width: 100px;
      width: 300px;
      opacity: 0;
      z-index: -1;
      transition: opacity 1s ease-in-out;
    }
  }

  .seccion {
    padding: 0 1rem;
    width: 100%;
    max-width: 950px;
    margin-block-start: 1rem;
    margin-block-end: 1rem;

    hr {
      width: 100%;
      border: 0;
      border-top: 1px solid $separador;
      // background-color: $separador;
      margin-top: 3rem;
    }

    h2 {
      color: $principal;
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 0.2rem;
      margin-top: 1rem;

      hr {
        width: 50px;
        border-top: 3px solid $principal;
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }

    p {
      font-size: 1.1rem;
      text-align: justify;
      margin-bottom: 1rem;

      span {
        font-weight: 700;
      }
    }

    .logo-pagina {
      display: flex;
      justify-content: center;

      img {
        width: 8rem;
      }
    }

    .lista {
      margin-left: 0.5rem;
      padding-left: 1rem;
      border-left: 3px solid $principal;

      p {
        margin-bottom: 1.2rem;
      }
    }

    .fotos-historia {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      img {
        margin: 1rem;
        width: 250px;
      }
    }

    .observacion {
      text-align: end;
    }

    .sesiones {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-items: center;
      grid-gap: 1rem;

      a {
        text-decoration: none;
        transition: 0.5s;

        .sesion {
          background: $principal;
          width: 280px;
          height: 192px;
          background: $principal;
          box-shadow: $formato-sombra;
          border-radius: 10px;
          margin-bottom: 1.3rem;

          p {
            color: $letra-carta;
            font-size: 2.2rem;
            text-align: center;
            margin-bottom: 0.2rem;
          }

          img {
            width: 280px;
            border-radius: 0 0 10px 10px;
          }
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .convenciones {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
      justify-items: center;
      grid-gap: 1rem;

      .conve {
        width: 150px;
        height: 300px;
        background: $principal;
        box-shadow: $formato-sombra;
        border-radius: 10px;

        img {
          border-radius: 10px 10px 0 0;
          width: 150px;
          height: 230px;
        }

        p {
          color: $letra-carta;
          font-size: 3rem;
          text-align: center;
        }
      }
    }

    .subrayado {
      text-decoration: underline;
      font-weight: normal;
    }

    .portada-gaceta {
      border-radius: 5px;
      width: 250px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      transition: 0.5s;

      &:hover {
        transform: scale(1.05);
        box-shadow: $formato-sombra;
      }
    }

    /* Tabla Gaceta */
    .tabla-centrada {
      display: flex;
      justify-content: center;

      .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1.2rem;
        min-width: 300px;
        width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: $formato-sombra;

        thead {
          .tabla-titulo {
            background-color: $principal;
          }

          tr {
            background-color: $navegador-enfocado;
            color: $letra-nav;
            text-align: center;
            font-weight: bold;
          }
        }

        th,
        td {
          padding: 0.6rem 0.6rem;
        }

        tbody {
          tr {
            border-bottom: 1px solid $separador;
            text-align: center;

            th {
              font-weight: 400;
            }

            &:nth-of-type(even) {
              background-color: $impar-tabla;
            }

            &:last-of-type {
              border-bottom: 2px solid $principal;
            }
          }
        }
      }
    }

    // Imagenes del escudo
    .escudo {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      justify-items: center;
      grid-gap: 1rem;

      .tarjetas-escudo {
        border-radius: 10px;
        width: 250px;
        height: 260px;
        background: $principal;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        box-shadow: $formato-sombra;

        p {
          color: $letra-carta;
          font-size: 3rem;
          text-align: center;
          background: $fondo-carta;
          width: 100%;
          border-radius: 0 0 10px 10px;
          position: absolute;
          bottom: -0.5rem;
          margin-bottom: 0;
        }

        .fusion {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 0.5fr;
          grid-template-areas: "cerro cerro" "obispado moneda";
          justify-items: center;
          align-items: center;
          grid-gap: 1rem;
          position: absolute;
          top: 1rem;

          img {
            border-radius: 10px;
            object-fit: cover;
            width: 100px;
            height: 80px;
          }

          .cerro {
            width: 220px;
            height: 90px;
            grid-area: cerro;
          }

          .obispado {
            grid-area: obispado;
          }

          .moneda {
            grid-area: moneda;
          }
        }

        .logo-pagina {
          img {
            width: 9rem;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .archivo-pdf {
    width: 100%;
    height: 100vh;

    iframe {
      width: 100%;
      height: 100vh;
    }
  }

  .centrar-contacto {
    display: flex;
    align-items: center;
    flex-direction: column;

    .contactos {
      background: $principal;
      border-radius: 10px;
      color: $letra-nav;
      padding: 1rem 2rem;
      width: fit-content;
      box-shadow: $formato-sombra;

      .contacto {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        column-gap: 1rem;

        .icono-contacto {
          margin-left: 1rem;
          width: max-content;
          display: grid;
          justify-content: center;
          align-content: center;
          justify-content: flex-end;
        }

        .union-contacto {
          display: flex;
          flex-direction: column;
          width: 100%;

          h4 {
            font-size: 2rem;
          }

          p {
            color: $letra-nav;
            font-size: 1.5rem;
          }

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.btn-arriba {
  position: fixed;
  background: $fondo-btn;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);

  color: white;
  opacity: 0.8;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
  border-style: none;
}

/* Hamburgesa */
.burger {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 3rem;
  transform: translateY(50%);
  cursor: pointer;
  z-index: 1500;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem;
  border-radius: 10px;

  div {
    background-color: $marg-izq;
    border-radius: 10px;
    width: 35px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

/* TRANSFORMACION de la hamburgesa */
.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-6px, 5px);
  }

  .line2 {
    opacity: 0;
  }

  .line3 {
    transform: rotate(45deg) translate(-6px, -5px);
  }
}

/* ANIMACION */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes btnFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes btnFadeAlReves {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 0;
  }
}

@import "_pantallaGrande";
